.header {

    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 150px;

    background-color: #FAEDD4;
    width: 85%;
    margin-bottom: 3px;
    border-bottom: 2px solid #FB3B2D;
    padding: 0 40px;

    button {
        @extend .other;
    }

    .active {
        border: 2px solid red;
        cursor: pointer;
    }
}